body {
    background-color: #000;
    color: #0F0;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 600px;
    margin: 40px auto;
}

.grid-box {
    background: #000;
    border: 2px solid #0F0;
    border-radius: 8px;
    min-height: 100px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-box:hover {
    background: #080;
    color: #000;
}